[submodule "MissionController"]
	path = MissionController
	url = git@github.com:arkadii888/MissionController.git
[submodule "MissionAgent"]
	path = MissionAgent
	url = git@github.com:arkadii888/MissionAgent.git
